body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            background-color: #f8f8f8;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .logo img{
            width: 300px;
        }

        .navbar .logo {
            font-size: 1.5em;
            font-weight: bold;
            color: black;
        }

        .navbar .nav-icons {
            display: flex;
            gap: 60px;
        }

        .nav-icon {
            font-size: 1.7em;
            gap: 40px;
        }

        .nav-icon {
            color: black;
            text-decoration: none;
            position: relative;
        }

        .nav-icon:hover {
            color: gray;
        }
