<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/display.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>VinylVault - Search Results: {{ query }}</title>
</head>

<div class="navbar">
        <div class="logo"><img src="{{ url_for('static', filename='images/vinyl_vault.png') }}"></div>
        <div class="nav-icons">
            <a href="/" class="nav-icon" title="Home"><i class="fas fa-home"></i></a>
            <a href="collection" class="nav-icon" title="Collection"><i class="fas fa-box"></i></a>
            <a href="#" class="nav-icon" title="Analytics"><i class="fas fa-chart-bar"></i></a>
            <a href="#" class="nav-icon" title="Shopping"><i class="fas fa-shopping-cart"></i></a>
        </div>
</div>

<body>
    <div class="container">
        <h1>Search results for '{{ query }}'...</h1>
        <h2>{{albums | length}} results shown</h2>

        <div class="album-grid">
            {% for album in albums %}
            <div class="album-card">
                <input type="hidden" value="{{ album['spotify_id'] }}" />
                <div class="image-container">
                    <img src="{{ album['img_url'] }}" alt="{{ album['title'] }} album cover">
                    <div class="overlay" onclick="call_add('{{ album['spotify_id'] }}')">+</div>
                </div>

                <div class="album-info">
                    <div class="album-title">{{ album['title'] }}</div>
                    <div class="album-artist">{{ album['artist'] }}</div>
                    <div class="album-release-date">Released: {{ album['release_date'] }}</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>
