<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	<title>VinylVault - Home</title>
</head>

<body>
    <div class="container">
        <img src="{{ url_for('static', filename='images/vinyl_vault.png') }}" alt="VinylVault" class="logo">
        <div class="search-container">
            <input type="text" placeholder="Search an album..." class="search-bar">
            <span class="search-icon">&#128269;</span>
        </div>
    </div>
</body>
</html>