<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/album_view.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>VinylVault - {{ album['title'] }}</title>
</head>

<body>

    <!-- Navbar -->
    <div class="navbar">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/vinyl_vault.png') }}" alt="VinylVault Logo">
        </div>
        <div class="nav-icons">
            <a href="/" class="nav-icon" title="Home"><i class="fas fa-home"></i></a>
            <a href="collection" class="nav-icon" title="Collection"><i class="fas fa-box"></i></a>
            <a href="#" class="nav-icon" title="Analytics"><i class="fas fa-chart-bar"></i></a>
            <a href="#" class="nav-icon" title="Shopping"><i class="fas fa-shopping-cart"></i></a>
        </div>
    </div>
    <content>
    <div class="container">
        <img src="{{ album['album_art_url'] }}" alt="{{ album['title'] }} album cover" class="album-art">
        <div class="album-info">
            <h2>{{ album['title'] }}</h2>
            <p><strong>Artist:</strong> {{ album['artist'] }}</p>
            <p><strong>Genres:</strong> {{ album['genres'] }}</p>
            <p><strong>Release Date:</strong> {{ album['release_date'] }}</p>
            <p><strong>Tracks:</strong> {{ album['num_tracks'] }}</p>
            <p><strong>Runtime:</strong> {{ album['runtime_seconds'] }}</p>
        </div>
    </div>
    </content>

</body>

</html>
